LoadPlugin python
TypesDB "/opt/signalfx-collectd-plugin/types.db.plugin"
<Plugin python>
  ModulePath "/opt/signalfx-collectd-plugin"
  LogTraces true
  Interactive false
  Import "signalfx_metadata"
  <Module signalfx_metadata>
    URL "{{ siginalfx_host }}/v1/collectd"
    Token "{{ api_token }}"
    Notifications true
    NotifyLevel "OKAY"
    DPM false
  </Module>
</Plugin>
