<LoadPlugin "write_http">
   FlushInterval 10
</LoadPlugin>
<Plugin "write_http">
  <Node "SignalFx">
    URL "{{ siginalfx_host }}/v1/collectd"
    User "auth"
    Password "{{ api_token }}"
    Format "JSON"
    Timeout 3000
    BufferSize 65536
    LogHttpError true
  </Node>
</Plugin>

